In [1]:
pwd

'P:\\Projects\\puer\\notebooks'

In [2]:
cd ..

P:\Projects\puer

In [3]:
import pandas as pd
import numpy as np

In [4]:
lx = pd.read_csv('data/processed/lexicon/lexicon_table.csv')
lx.set_index('WORD', inplace=True)
lx.head()

       MPQA  OPENER     OL    SWN  VADER
WORD
$:   -0.375  -0.375 -0.375 -0.375 -0.375
%)   -0.100  -0.100 -0.100 -0.100 -0.100
%-)  -0.375  -0.375 -0.375 -0.375 -0.375
&-:  -0.100  -0.100 -0.100 -0.100 -0.100
&:   -0.175  -0.175 -0.175 -0.175 -0.175

In [5]:
base_df = pd.read_csv('data/score/SemEval14_test_baseline.csv')

In [6]:
base_df.head()

,ASP,CLS,SENT,PRED,NEG,NEU,POS
0,food,1,the bread is top notch as well .,1,0.008854,0.008273,0.982873
1,service,1,i have to say they have one of the fastest del...,1,0.031988,0.105509,0.862503
2,food,1,food is always fresh and hot- ready to eat !,1,0.007820,0.007575,0.984606
3,food,1,did i mention that the coffee is outstanding ?,1,0.060383,0.054668,0.884950
4,ambience,1,"certainly not the best sushi in new york , how...",1,0.036716,0.006926,0.956358

In [7]:
(base_df.CLS == base_df.PRED).value_counts()[True]/len(base_df) # check if baseline acc correct

0.8211716341212744

In [8]:
exp3_df = pd.read_csv('data/score/SemEval14_test_exp_3.csv')

In [9]:
exp3_df.head()

,ASP,CLS,SENT,PRED,NEG,NEU,POS
0,food,1,the bread is top notch as well .,1,0.012236,0.013007,0.974757
1,service,1,i have to say they have one of the fastest del...,1,0.043196,0.169718,0.787086
2,food,1,food is always fresh and hot- ready to eat !,1,0.006239,0.011919,0.981841
3,food,1,did i mention that the coffee is outstanding ?,1,0.103184,0.111462,0.785354
4,ambience,1,"certainly not the best sushi in new york , how...",1,0.055819,0.013617,0.930564

In [10]:
(exp3_df.CLS == exp3_df.PRED).value_counts()[True]/len(exp3_df) # check if exp3 acc correct

0.8314491264131552

# Wrongly predicted examples in baseline

In [11]:
base_wrong = base_df.loc[base_df.PRED != base_df.CLS].copy()
# base_wrong['TAG'] = 'BASE_WRONG'
base_wrong

,ASP,CLS,SENT,PRED,NEG,NEU,POS
8,food,1,try the rose roll ( not on menu ) .,0,0.153396,0.559180,0.287424
11,food,1,"while there 's a decent menu , it should n't t...",0,0.137660,0.632282,0.230058
12,service,-1,"while there 's a decent menu , it should n't t...",0,0.137660,0.632282,0.230058
16,food,-1,the sangria 's - watered down .,1,0.168515,0.081827,0.749658
20,food,1,great food but the service was dreadful !,-1,0.610023,0.038616,0.351361
22,food,0,the portions of the food that came out were me...,-1,0.664589,0.157198,0.178213
23,service,-1,the two waitress 's looked like they had been ...,1,0.336235,0.211024,0.452741
29,miscellaneous,1,i am surprised at the lower reviews because it...,0,0.366413,0.441029,0.192558
48,food,-1,how pretentious and inappropriate for mj grill...,1,0.215336,0.203960,0.580704
50,service,-1,the staff should be a bit more friendly .,1,0.118759,0.070702,0.810539
60,food,0,"entrees include classics like lasagna , fettuc...",1,0.013018,0.407113,0.579869
68,miscellaneous,1,"if you ' re in new york , you do not want to m...",-1,0.373701,0.278946,0.347353
95,service,-1,i was highly disappointed by their service and...,1,0.134204,0.025842,0.839954
96,food,-1,i was highly disappointed by their service and...,1,0.134204,0.025842,0.839954
107,ambience,-1,"while it was large and a bit noisy , the drink...",1,0.023116,0.005785,0.971099
118,service,-1,the management was less than accomodating .,1,0.345240,0.101270,0.553490
142,miscellaneous,1,i have no idea why this restaurant is so often...,-1,0.523063,0.197766,0.279171
144,food,-1,i dont know what some people who rave about th...,0,0.193249,0.648632,0.158120
151,food,1,"yes , they 're a bit more expensive then typic...",-1,0.661315,0.159865,0.178821
156,price,1,"anywhere else , the prices would be 3x as high !",-1,0.491132,0.187725,0.321143
159,miscellaneous,-1,as we waited i watched 3 seperate groups of di...,0,0.104302,0.687234,0.208465
164,food,-1,i know real indian food and this was n't it .,1,0.169728,0.332861,0.497410
166,food,1,"even when the chef is not in the house , the f...",-1,0.483167,0.291960,0.224873
167,service,1,"even when the chef is not in the house , the f...",-1,0.483167,0.291960,0.224873
174,food,0,desserts include flan and sopaipillas .,1,0.021706,0.185338,0.792956
179,food,-1,the sushi is cut in blocks bigger than my cell...,0,0.349759,0.499612,0.150629
204,ambience,0,tiny restaurant with very fast service .,1,0.252941,0.064908,0.682152
214,service,-1,there was only one waiter for the whole restau...,0,0.389660,0.422630,0.187710
215,food,0,we started with the scallops and asparagus and...,1,0.006829,0.013111,0.980061
222,miscellaneous,1,you wo n't be dissapointed .,-1,0.698945,0.119941,0.181114
...,...,...,...,...,...,...,...
859,food,0,i always find myself asking the waiter to make...,-1,0.552820,0.217658,0.229522
861,food,0,the closest that i got was the cherry marscapo...,1,0.137611,0.359782,0.502608
867,food,1,"the service , however , is a peg or two below ...",-1,0.707605,0.155382,0.137013
870,food,0,"unfortunately , with our show tickets , we did...",-1,0.358743,0.332740,0.308517
872,ambience,-1,make more tables- perhaps a rooftop bar ?,0,0.192352,0.541826,0.265822
878,miscellaneous,0,i did n't go there for food so i ca n't comment .,-1,0.426447,0.363654,0.209899
883,miscellaneous,0,bring your date and a bottle of wine !,1,0.071552,0.185343,0.743104
885,miscellaneous,1,do n't be put off by another reviewers extreme...,-1,0.763100,0.124607,0.112293
902,service,-1,it took about 2 1/2 hours to be served our 2 c...,0,0.289779,0.524995,0.185226
903,ambience,0,who said go when the place is quiet during the...,-1,0.345098,0.313993,0.340909
907,miscellaneous,0,"i was on jury duty , rode my bike up centre st...",1,0.003924,0.011950,0.984125
908,food,0,good place to hang out during the day after sh...,1,0.015570,0.080345,0.904085
915,miscellaneous,0,it 's best to go on a cold night with a close ...,1,0.013713,0.059665,0.926622
922,ambience,1,"a small , outdoor eating area makes for a priv...",0,0.031025,0.660507,0.308468
923,miscellaneous,0,before the place did n't call my attention .,-1,0.544994,0.264471,0.190535
933,food,-1,two complaints- their appetizer selection stin...,1,0.054376,0.296161,0.649463
934,miscellaneous,-1,i do n't remember what we had ; nothing was me...,1,0.193761,0.099596,0.706643
937,food,0,the chicken and falafel platters were nondescr...,1,0.015332,0.097373,0.887295
938,miscellaneous,0,"every time i visit nyc , i come here .",1,0.026038,0.102081,0.871881
941,service,-1,several times and put up with the waiters ' ba...,1,0.446761,0.092687,0.460551
943,miscellaneous,-1,we were seated next to a couple whose kitchen ...,1,0.172669,0.241199,0.586133
946,price,-1,"the new menu has a few creative items , they w...",1,0.089317,0.009666,0.901017
948,miscellaneous,0,it ' only open for lunch but the food is so go...,1,0.032946,0.052760,0.914295
951,food,0,how can they survive serving mediocre food at ...,-1,0.799512,0.090767,0.109720
953,food,0,the food was mediocre and the service was seve...,-1,0.900675,0.037886,0.061439
955,food,0,i have eaten here on a different occasion - th...,-1,0.463856,0.315690,0.220454
962,food,0,i stopped by for some brunch today and had the...,1,0.016991,0.460162,0.522847
968,food,-1,i have never in my life sent back food before ...,1,0.192264,0.365487,0.442249
969,service,-1,i have never in my life sent back food before ...,1,0.192264,0.365487,0.442249
971,food,-1,"although the restaurant itself is nice , i pre...",1,0.180430,0.258581,0.560989

# Wrongly predicted examples in Exp_3

In [12]:
exp3_wrong = exp3_df.loc[exp3_df.PRED != exp3_df.CLS].copy()
# exp3_wrong['TAG'] = 'EXP3_WRONG'
exp3_wrong

,ASP,CLS,SENT,PRED,NEG,NEU,POS
8,food,1,try the rose roll ( not on menu ) .,0,0.145486,0.633824,0.220690
11,food,1,"while there 's a decent menu , it should n't t...",0,0.271758,0.397381,0.330861
12,service,-1,"while there 's a decent menu , it should n't t...",0,0.271758,0.397381,0.330861
16,food,-1,the sangria 's - watered down .,1,0.116503,0.091364,0.792133
20,food,1,great food but the service was dreadful !,-1,0.678295,0.038304,0.283401
22,food,0,the portions of the food that came out were me...,-1,0.706821,0.165167,0.128012
29,miscellaneous,1,i am surprised at the lower reviews because it...,-1,0.339963,0.339892,0.320145
49,food,-1,two wasted steaks -- what a crime !,1,0.215030,0.272072,0.512898
50,service,-1,the staff should be a bit more friendly .,1,0.097401,0.041294,0.861304
60,food,0,"entrees include classics like lasagna , fettuc...",1,0.018038,0.373657,0.608305
68,miscellaneous,1,"if you ' re in new york , you do not want to m...",0,0.220599,0.390662,0.388739
72,miscellaneous,1,i 've been coming here on and off for the past...,0,0.175869,0.487707,0.336424
107,ambience,-1,"while it was large and a bit noisy , the drink...",1,0.090597,0.017750,0.891653
142,miscellaneous,1,i have no idea why this restaurant is so often...,-1,0.453836,0.195755,0.350409
144,food,-1,i dont know what some people who rave about th...,0,0.164411,0.602175,0.233414
151,food,1,"yes , they 're a bit more expensive then typic...",-1,0.728157,0.117378,0.154465
156,price,1,"anywhere else , the prices would be 3x as high !",-1,0.477450,0.208118,0.314432
159,miscellaneous,-1,as we waited i watched 3 seperate groups of di...,0,0.160132,0.624028,0.215840
164,food,-1,i know real indian food and this was n't it .,1,0.247965,0.351206,0.400829
166,food,1,"even when the chef is not in the house , the f...",-1,0.455908,0.243977,0.300115
167,service,1,"even when the chef is not in the house , the f...",-1,0.455908,0.243977,0.300115
174,food,0,desserts include flan and sopaipillas .,1,0.031565,0.219321,0.749114
179,food,-1,the sushi is cut in blocks bigger than my cell...,0,0.377588,0.442619,0.179794
188,ambience,0,the decor is designed in a contemporary japane...,1,0.050318,0.088925,0.860758
204,ambience,0,tiny restaurant with very fast service .,1,0.086456,0.035359,0.878185
215,food,0,we started with the scallops and asparagus and...,1,0.007917,0.024310,0.967773
222,miscellaneous,1,you wo n't be dissapointed .,-1,0.613580,0.186379,0.200041
235,price,-1,"for the price you pay for the food here , you ...",0,0.349339,0.509186,0.141474
236,food,-1,"for the price you pay for the food here , you ...",0,0.349339,0.509186,0.141474
239,miscellaneous,1,since the first time i came here i 've been ho...,0,0.133218,0.527510,0.339272
...,...,...,...,...,...,...,...
879,miscellaneous,1,"my friends and i go once a week ( minimum , we...",0,0.060854,0.471878,0.467268
882,ambience,0,young neighborhood trendies graze at the count...,1,0.078465,0.346477,0.575059
883,miscellaneous,0,bring your date and a bottle of wine !,1,0.080694,0.245332,0.673974
885,miscellaneous,1,do n't be put off by another reviewers extreme...,-1,0.862862,0.103350,0.033788
891,food,1,"do n't get me wrong - sushi was good , just no...",-1,0.466012,0.144924,0.389065
902,service,-1,it took about 2 1/2 hours to be served our 2 c...,0,0.270447,0.527773,0.201780
903,ambience,0,who said go when the place is quiet during the...,-1,0.384001,0.307005,0.308994
907,miscellaneous,0,"i was on jury duty , rode my bike up centre st...",1,0.004741,0.037955,0.957304
908,food,0,good place to hang out during the day after sh...,1,0.036224,0.287721,0.676055
912,miscellaneous,0,we were seated promptly in close proximity to ...,1,0.025224,0.044030,0.930745
915,miscellaneous,0,it 's best to go on a cold night with a close ...,1,0.020366,0.275700,0.703934
922,ambience,1,"a small , outdoor eating area makes for a priv...",0,0.056535,0.577687,0.365778
923,miscellaneous,0,before the place did n't call my attention .,-1,0.523338,0.290538,0.186124
932,miscellaneous,1,now we moved out of the state and every visit ...,0,0.053125,0.595630,0.351245
933,food,-1,two complaints- their appetizer selection stin...,0,0.172912,0.448130,0.378958
934,miscellaneous,-1,i do n't remember what we had ; nothing was me...,1,0.218868,0.215401,0.565731
937,food,0,the chicken and falafel platters were nondescr...,1,0.019435,0.147723,0.832841
938,miscellaneous,0,"every time i visit nyc , i come here .",1,0.031563,0.103519,0.864918
946,price,-1,"the new menu has a few creative items , they w...",1,0.262278,0.026765,0.710956
948,miscellaneous,0,it ' only open for lunch but the food is so go...,1,0.056095,0.058413,0.885492
949,food,1,if you like seafood and/or greek food you will...,-1,0.474557,0.183936,0.341507
950,food,0,"`` the menu includes pub fare -- burgers , ste...",1,0.011717,0.066551,0.921732
951,food,0,how can they survive serving mediocre food at ...,-1,0.836156,0.086535,0.077310
953,food,0,the food was mediocre and the service was seve...,-1,0.935988,0.042786,0.021226
955,food,0,i have eaten here on a different occasion - th...,1,0.279745,0.265582,0.454673
956,price,-1,i have eaten here on a different occasion - th...,1,0.279745,0.265582,0.454673
959,miscellaneous,1,i just had my first visit to this place and ca...,-1,0.370259,0.365892,0.263849
968,food,-1,i have never in my life sent back food before ...,1,0.282450,0.232072,0.485478
969,service,-1,i have never in my life sent back food before ...,1,0.282450,0.232072,0.485478
971,food,-1,"although the restaurant itself is nice , i pre...",1,0.247797,0.267533,0.484670

Seems we have 10 less wrongly predicted examples (164) comparing with baseline (174)

# Same mistakes?

In [13]:
all_mistakes = base_wrong.join(exp3_wrong[['PRED','NEG','NEU','POS']], how='outer', rsuffix='_E3')
all_mistakes.head(20)

,ASP,CLS,SENT,PRED,NEG,NEU,POS,PRED_E3,NEG_E3,NEU_E3,POS_E3
8,food,1.0,try the rose roll ( not on menu ) .,0.0,0.153396,0.559180,0.287424,0.0,0.145486,0.633824,0.220690
11,food,1.0,"while there 's a decent menu , it should n't t...",0.0,0.137660,0.632282,0.230058,0.0,0.271758,0.397381,0.330861
12,service,-1.0,"while there 's a decent menu , it should n't t...",0.0,0.137660,0.632282,0.230058,0.0,0.271758,0.397381,0.330861
16,food,-1.0,the sangria 's - watered down .,1.0,0.168515,0.081827,0.749658,1.0,0.116503,0.091364,0.792133
20,food,1.0,great food but the service was dreadful !,-1.0,0.610023,0.038616,0.351361,-1.0,0.678295,0.038304,0.283401
22,food,0.0,the portions of the food that came out were me...,-1.0,0.664589,0.157198,0.178213,-1.0,0.706821,0.165167,0.128012
23,service,-1.0,the two waitress 's looked like they had been ...,1.0,0.336235,0.211024,0.452741,NaN,NaN,NaN,NaN
29,miscellaneous,1.0,i am surprised at the lower reviews because it...,0.0,0.366413,0.441029,0.192558,-1.0,0.339963,0.339892,0.320145
48,food,-1.0,how pretentious and inappropriate for mj grill...,1.0,0.215336,0.203960,0.580704,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.215030,0.272072,0.512898
50,service,-1.0,the staff should be a bit more friendly .,1.0,0.118759,0.070702,0.810539,1.0,0.097401,0.041294,0.861304
60,food,0.0,"entrees include classics like lasagna , fettuc...",1.0,0.013018,0.407113,0.579869,1.0,0.018038,0.373657,0.608305
68,miscellaneous,1.0,"if you ' re in new york , you do not want to m...",-1.0,0.373701,0.278946,0.347353,0.0,0.220599,0.390662,0.388739
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.175869,0.487707,0.336424
95,service,-1.0,i was highly disappointed by their service and...,1.0,0.134204,0.025842,0.839954,NaN,NaN,NaN,NaN
96,food,-1.0,i was highly disappointed by their service and...,1.0,0.134204,0.025842,0.839954,NaN,NaN,NaN,NaN
107,ambience,-1.0,"while it was large and a bit noisy , the drink...",1.0,0.023116,0.005785,0.971099,1.0,0.090597,0.017750,0.891653
118,service,-1.0,the management was less than accomodating .,1.0,0.345240,0.101270,0.553490,NaN,NaN,NaN,NaN
142,miscellaneous,1.0,i have no idea why this restaurant is so often...,-1.0,0.523063,0.197766,0.279171,-1.0,0.453836,0.195755,0.350409
144,food,-1.0,i dont know what some people who rave about th...,0.0,0.193249,0.648632,0.158120,0.0,0.164411,0.602175,0.233414

In [14]:
len(all_mistakes) # Together 204 mistakes, 174 baseline, 164 exp_3

204

## Mistakes baseline made but not exp_3

40 mistakes

In [15]:
def get_pol(w, lx_df):
    try:
        p = round(lx_df.loc[w].mean(),2)
    except KeyError:
        p = None
    return p

def w_in_lx(sent, lx_df):
    plst = [get_pol(w, lx_df) for w in sent.split()]
    cov = sum([1 for p in plst if p is not None])/len(plst)
    return plst, cov

def check_Sn(idx, df, verbose=True, return_cov=False):
    s = df.SENT.iloc[idx]
    pl, cov = w_in_lx(s, lx)
    if verbose:
        print(f'Lx coverage: {cov:.2%}')
    if return_cov:
        return pd.DataFrame([s.split(),pl]), cov
    else:
        return pd.DataFrame([s.split(),pl])

In [16]:
tmp = all_mistakes.loc[all_mistakes.PRED_E3.isna()]
exp3_improved = tmp.dropna(axis=1).join(exp3_df.iloc[tmp.index][['PRED','NEG','NEU','POS']], rsuffix='_E3')
exp3_improved

,ASP,CLS,SENT,PRED,NEG,NEU,POS,PRED_E3,NEG_E3,NEU_E3,POS_E3
23,service,-1.0,the two waitress 's looked like they had been ...,1.0,0.336235,0.211024,0.452741,-1,0.440126,0.259519,0.300355
48,food,-1.0,how pretentious and inappropriate for mj grill...,1.0,0.215336,0.203960,0.580704,-1,0.470175,0.338154,0.191671
95,service,-1.0,i was highly disappointed by their service and...,1.0,0.134204,0.025842,0.839954,-1,0.600423,0.067349,0.332228
96,food,-1.0,i was highly disappointed by their service and...,1.0,0.134204,0.025842,0.839954,-1,0.600423,0.067349,0.332228
118,service,-1.0,the management was less than accomodating .,1.0,0.345240,0.101270,0.553490,-1,0.496270,0.202097,0.301633
214,service,-1.0,there was only one waiter for the whole restau...,0.0,0.389660,0.422630,0.187710,-1,0.409899,0.368325,0.221776
228,ambience,-1.0,i ca n't stand this dungeon .,1.0,0.325933,0.260841,0.413226,-1,0.419573,0.281321,0.299106
262,service,-1.0,"and as soon as one person is done , she asked ...",1.0,0.292198,0.221455,0.486347,-1,0.460233,0.205719,0.334048
331,miscellaneous,0.0,"since i was in the neighborhood , we made sure...",1.0,0.067886,0.403439,0.528675,0,0.112656,0.497682,0.389661
391,miscellaneous,-1.0,the place just is n't ready for prime time .,1.0,0.310350,0.247867,0.441783,-1,0.366094,0.297307,0.336599
472,miscellaneous,-1.0,i often find myself with time to kill in times...,1.0,0.310480,0.264039,0.425481,-1,0.386663,0.351476,0.261860
475,food,-1.0,i was highly disappointed by the food .,1.0,0.237630,0.025827,0.736543,-1,0.809599,0.070180,0.120221
523,miscellaneous,-1.0,i would recommend jewel bako if you want to fe...,1.0,0.404404,0.110236,0.485359,-1,0.520499,0.162696,0.316805
551,miscellaneous,0.0,"during busy hrs , i recommend that you make a ...",1.0,0.254133,0.299288,0.446579,0,0.266902,0.367027,0.366071
558,miscellaneous,1.0,i just have nothing to say about this place th...,-1.0,0.516535,0.134863,0.348602,1,0.383147,0.086279,0.530574
604,service,-1.0,i love the little pie company as much as anyon...,1.0,0.363497,0.050811,0.585692,-1,0.738751,0.153169,0.108079
614,food,1.0,i would only go for the coffee which is way be...,0.0,0.319221,0.436672,0.244107,1,0.329942,0.300876,0.369182
617,food,-1.0,if your looking for nasty high priced food wit...,1.0,0.302578,0.068787,0.628635,-1,0.533240,0.108210,0.358549
618,price,-1.0,if your looking for nasty high priced food wit...,1.0,0.302578,0.068787,0.628635,-1,0.533240,0.108210,0.358549
619,ambience,-1.0,if your looking for nasty high priced food wit...,1.0,0.302578,0.068787,0.628635,-1,0.533240,0.108210,0.358549
643,food,1.0,you will not be dissapointed by any of the cho...,-1.0,0.606110,0.152203,0.241686,1,0.379838,0.181440,0.438721
664,miscellaneous,1.0,"give it a try , menu is typical french but var...",0.0,0.061524,0.558680,0.379795,1,0.083903,0.402969,0.513128
668,service,1.0,the negative reviews on city search are probab...,-1.0,0.545139,0.043454,0.411407,1,0.363978,0.030794,0.605228
669,food,1.0,the negative reviews on city search are probab...,-1.0,0.545139,0.043454,0.411407,1,0.363978,0.030794,0.605228
671,food,0.0,we ordered a glass of wine and were finished e...,1.0,0.250427,0.294706,0.454867,0,0.278086,0.408728,0.313186
694,price,-1.0,cuisine is billed as asian fusion - does n't m...,0.0,0.379313,0.403352,0.217335,-1,0.407638,0.350708,0.241654
695,food,-1.0,cuisine is billed as asian fusion - does n't m...,0.0,0.379313,0.403352,0.217335,-1,0.407638,0.350708,0.241654
700,ambience,-1.0,"i came to fresh expecting a great meal , and a...",1.0,0.097066,0.013467,0.889467,-1,0.583668,0.072357,0.343975
701,food,-1.0,"i came to fresh expecting a great meal , and a...",1.0,0.097066,0.013467,0.889467,-1,0.583668,0.072357,0.343975
731,food,-1.0,this place has the strangest menu and the rest...,1.0,0.230714,0.249444,0.519842,-1,0.485591,0.207262,0.307147
767,ambience,-1.0,atmosphere is a bore .,1.0,0.310873,0.292965,0.396161,-1,0.415614,0.229301,0.355086
799,food,1.0,i recomend the chicken milanese .,0.0,0.056229,0.515981,0.427790,1,0.029873,0.222448,0.747679
818,food,-1.0,the food really is n't very good and the servi...,1.0,0.433081,0.018423,0.548497,-1,0.850288,0.044314,0.105399
819,service,-1.0,the food really is n't very good and the servi...,1.0,0.433081,0.018423,0.548497,-1,0.850288,0.044314,0.105399
844,miscellaneous,0.0,i read about this place in time out magazine .,1.0,0.148525,0.389090,0.462385,0,0.121384,0.458346,0.420270
851,food,1.0,they bring a sauce cart up to your table and o...,0.0,0.146347,0.432488,0.421165,1,0.112280,0.255577,0.632143
854,food,-1.0,likewise if you like really thin crust or real...,1.0,0.150785,0.107125,0.742090,-1,0.445127,0.160042,0.394830
941,service,-1.0,several times and put up with the waiters ' ba...,1.0,0.446761,0.092687,0.460551,-1,0.633101,0.149008,0.217892
943,miscellaneous,-1.0,we were seated next to a couple whose kitchen ...,1.0,0.172669,0.241199,0.586133,-1,0.419332,0.288581,0.292087
962,food,0.0,i stopped by for some brunch today and had the...,1.0,0.016991,0.460162,0.522847,0,0.029760,0.702163,0.268077

In [17]:
len(exp3_improved)

40

In [18]:
check_Sn(0, exp3_improved)

Lx coverage: 38.46%

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,the,two,waitress,'s,looked,like,they,had,been,sucking,on,lemons,.
1,None,0,0,None,None,0.73,None,None,None,0,0.03,None,None

In [19]:
check_Sn(1, exp3_improved)

Lx coverage: 41.18%

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,how,pretentious,and,inappropriate,for,mj,grill,to,claim,that,it,provides,power,lunch,and,dinners,!
1,None,-0.77,None,-0.89,None,None,-0.67,None,-0,None,0,None,0.01,0,None,None,None

In [20]:
check_Sn(2, exp3_improved)

Lx coverage: 60.00%

      0     1       2             3     4      5        6     7     8     9
0     i   was  highly  disappointed    by  their  service   and  food     .
1 -0.06  None     0.5         -0.81 -0.25   None    -0.01  None -0.04  None

In [22]:
check_Sn(3, exp3_improved)

Lx coverage: 60.00%

      0     1       2             3     4      5        6     7     8     9
0     i   was  highly  disappointed    by  their  service   and  food     .
1 -0.06  None     0.5         -0.81 -0.25   None    -0.01  None -0.04  None

As below examples: corrected predictions by adding lexicon, has both average and median of 0.54 lx coverage

In [23]:
np.mean([check_Sn(i, exp3_improved, verbose=True, return_cov=True)[1] for i in range(40)])

Lx coverage: 38.46%
Lx coverage: 41.18%
Lx coverage: 60.00%
Lx coverage: 60.00%
Lx coverage: 28.57%
Lx coverage: 63.64%
Lx coverage: 57.14%
Lx coverage: 55.56%
Lx coverage: 50.00%
Lx coverage: 50.00%
Lx coverage: 58.33%
Lx coverage: 62.50%
Lx coverage: 48.00%
Lx coverage: 50.00%
Lx coverage: 68.97%
Lx coverage: 66.67%
Lx coverage: 52.94%
Lx coverage: 44.44%
Lx coverage: 44.44%
Lx coverage: 44.44%
Lx coverage: 57.14%
Lx coverage: 75.00%
Lx coverage: 60.53%
Lx coverage: 60.53%
Lx coverage: 52.94%
Lx coverage: 53.85%
Lx coverage: 53.85%
Lx coverage: 59.38%
Lx coverage: 59.38%
Lx coverage: 47.06%
Lx coverage: 60.00%
Lx coverage: 66.67%
Lx coverage: 46.15%
Lx coverage: 46.15%
Lx coverage: 80.00%
Lx coverage: 50.00%
Lx coverage: 63.64%
Lx coverage: 45.00%
Lx coverage: 43.24%
Lx coverage: 61.11%

0.5467217785951173

In [126]:
np.median([check_Sn(i, exp3_improved, verbose=False, return_cov=True)[1] for i in range(40)])

0.5470085470085471

## Mistakes baseline didn't but exp_3 did

30 mistakes

In [25]:
tmp = all_mistakes.loc[all_mistakes.PRED.isna()]
exp3_worse = base_df.iloc[tmp.index].join(tmp.dropna(axis=1))
exp3_worse

,ASP,CLS,SENT,PRED,NEG,NEU,POS,PRED_E3,NEG_E3,NEU_E3,POS_E3
49,food,-1,two wasted steaks -- what a crime !,-1,0.438996,0.299798,0.261206,1.0,0.215030,0.272072,0.512898
72,miscellaneous,1,i 've been coming here on and off for the past...,1,0.132156,0.250443,0.617401,0.0,0.175869,0.487707,0.336424
188,ambience,0,the decor is designed in a contemporary japane...,0,0.069746,0.465243,0.465011,1.0,0.050318,0.088925,0.860758
241,miscellaneous,1,"people in the neighborhood seem to love it , t...",1,0.411946,0.172351,0.415703,-1.0,0.421715,0.235843,0.342442
245,miscellaneous,-1,have to tell you : not at all impressed .,-1,0.466235,0.121402,0.412362,1.0,0.281023,0.217869,0.501108
272,food,-1,( the sashimi is cut a little thinly .,-1,0.422115,0.374401,0.203485,0.0,0.310918,0.481564,0.207517
405,miscellaneous,1,and you never get the feeling that you need to...,1,0.319969,0.209367,0.470664,-1.0,0.525504,0.200815,0.273682
481,miscellaneous,1,whatever the reason it is definitely the place...,1,0.375280,0.140766,0.483954,-1.0,0.545572,0.133939,0.320489
516,food,1,it was delish and i did n't feel bad eating it .,1,0.133949,0.022381,0.843670,-1.0,0.493083,0.100622,0.406295
601,miscellaneous,1,ask for the round corner table next to the lar...,1,0.249572,0.329733,0.420694,0.0,0.221343,0.389819,0.388838
610,ambience,1,at night the atmoshere changes turning into th...,1,0.256839,0.321696,0.421465,0.0,0.300320,0.382626,0.317054
663,food,0,"give it a try , menu is typical french but var...",0,0.061524,0.558680,0.379795,1.0,0.083903,0.402969,0.513128
710,food,1,"not only is the food authentic , but the staff...",1,0.094025,0.221302,0.684672,-1.0,0.488080,0.166971,0.344949
711,service,1,"not only is the food authentic , but the staff...",1,0.094025,0.221302,0.684672,-1.0,0.488080,0.166971,0.344949
751,ambience,1,dug the blue bar area too .,1,0.168789,0.328277,0.502934,0.0,0.172502,0.451883,0.375615
810,miscellaneous,-1,this is a typical example of an establishment ...,-1,0.631034,0.207343,0.161623,1.0,0.423513,0.149842,0.426645
829,food,1,"finally a curry that i can eat , enjoy and not...",1,0.079067,0.372673,0.548259,0.0,0.098583,0.623590,0.277827
838,price,-1,it took a bigger bite from my wallet than my a...,-1,0.479581,0.173407,0.347011,1.0,0.320824,0.111189,0.567987
839,food,-1,it took a bigger bite from my wallet than my a...,-1,0.479581,0.173407,0.347011,1.0,0.320824,0.111189,0.567987
840,miscellaneous,-1,it took a bigger bite from my wallet than my a...,-1,0.479581,0.173407,0.347011,1.0,0.320824,0.111189,0.567987
864,food,-1,the ground chickpea soup we sampled as a start...,-1,0.516173,0.127867,0.355960,1.0,0.230965,0.158075,0.610960
879,miscellaneous,1,"my friends and i go once a week ( minimum , we...",1,0.046620,0.338559,0.614821,0.0,0.060854,0.471878,0.467268
882,ambience,0,young neighborhood trendies graze at the count...,0,0.116850,0.569352,0.313799,1.0,0.078465,0.346477,0.575059
891,food,1,"do n't get me wrong - sushi was good , just no...",1,0.421735,0.062279,0.515986,-1.0,0.466012,0.144924,0.389065
912,miscellaneous,0,we were seated promptly in close proximity to ...,0,0.197006,0.467936,0.335058,1.0,0.025224,0.044030,0.930745
932,miscellaneous,1,now we moved out of the state and every visit ...,1,0.048122,0.390380,0.561497,0.0,0.053125,0.595630,0.351245
949,food,1,if you like seafood and/or greek food you will...,1,0.389516,0.118095,0.492389,-1.0,0.474557,0.183936,0.341507
950,food,0,"`` the menu includes pub fare -- burgers , ste...",0,0.017799,0.615479,0.366723,1.0,0.011717,0.066551,0.921732
956,price,-1,i have eaten here on a different occasion - th...,-1,0.463856,0.315690,0.220454,1.0,0.279745,0.265582,0.454673
959,miscellaneous,1,i just had my first visit to this place and ca...,1,0.178073,0.396055,0.425872,-1.0,0.370259,0.365892,0.263849

In [38]:
exp3_worse.PRED_E3.value_counts()

 1.0    13
-1.0     9
 0.0     8
Name: PRED_E3, dtype: int64

In [41]:
exp3_worse.loc[exp3_worse.PRED_E3==1].CLS.value_counts()

-1    8
 0    5
Name: CLS, dtype: int64

In [26]:
len(exp3_worse)

30

In [27]:
check_Sn(0, exp3_worse)

Lx coverage: 50.00%

     0       1       2     3     4     5      6     7
0  two  wasted  steaks    --  what     a  crime     !
1    0    -0.6    None  None  None -0.02  -0.76  None

In [28]:
check_Sn(1, exp3_worse)

Lx coverage: 57.14%

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,i,'ve,been,coming,here,on,and,off,for,the,...,that,la,lanterna,has,never,",",ever,dissapointed,me,.
1,-0.06,None,None,0.15,0,0.03,None,-0.31,None,None,...,None,0,None,None,-0.38,None,0,-1,0,None

In [32]:
exp3_worse.SENT.iloc[1]

"i 've been coming here on and off for the past five years and i have to say that la lanterna has never , ever dissapointed me ."

In [33]:
check_Sn(2, exp3_worse)

Lx coverage: 72.73%

,0,1,2,3,4,5,6,7,8,9,10
0,the,decor,is,designed,in,a,contemporary,japanese,style,restaurant,.
1,None,0,None,0,0,-0.02,0.03,0,0.03,0,None

In [35]:
check_Sn(3, exp3_worse)

Lx coverage: 63.64%

       0   1     2             3     4     5     6   7     8     9     10
0  people  in   the  neighborhood  seem    to  love  it     ,   too     .
1       0   0  None         -0.06  0.04  None  0.83   0  None -0.69  None

In [36]:
np.mean([check_Sn(i, exp3_worse, verbose=True, return_cov=True)[1] for i in range(30)])

Lx coverage: 50.00%
Lx coverage: 57.14%
Lx coverage: 72.73%
Lx coverage: 63.64%
Lx coverage: 60.00%
Lx coverage: 55.56%
Lx coverage: 41.67%
Lx coverage: 54.55%
Lx coverage: 50.00%
Lx coverage: 58.33%
Lx coverage: 47.06%
Lx coverage: 75.00%
Lx coverage: 50.00%
Lx coverage: 50.00%
Lx coverage: 71.43%
Lx coverage: 57.14%
Lx coverage: 68.42%
Lx coverage: 50.00%
Lx coverage: 50.00%
Lx coverage: 50.00%
Lx coverage: 61.54%
Lx coverage: 57.14%
Lx coverage: 50.00%
Lx coverage: 64.29%
Lx coverage: 58.33%
Lx coverage: 52.94%
Lx coverage: 59.09%
Lx coverage: 39.29%
Lx coverage: 52.94%
Lx coverage: 56.00%

0.561406050319363

In [37]:
np.median([check_Sn(i, exp3_worse, verbose=False, return_cov=True)[1] for i in range(30)])

0.5577777777777778